<?php
	include_once("include/session.php");
	
	$var = $_POST['pw'];
	
	/* set the check variables here */
	if( $var ==  "")
	{
		/* set user name */
		$_SESSION['user'] = "";
		header('Location: user/index.php'  );
	}
	else
	{
		header("Location: $homepage" );
	}

?>
