<?php
	session_start();
/* set homepage */
	$homepage = "";

function logged()
{
/* set username */
	if( isset( $_SESSION['user'] ) && $_SESSION['user'] == "" )
	{
		return true;
	}
	else
	{
		header("Location: $homepage" );
	}
}

?>
